body{
    background-color: #191B1F;
    overflow: hidden;
}

.header-pesquisar{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2A2C30;
    height: 3.5rem;
    border-bottom: solid 1px #838383;
}
.pesquisa{
    border: solid 1px #FFF;
    border-radius: 0.5rem;
    padding-left: 0.5rem;
}
.pesquisa input{
    width: 30rem;
    background-color: #2A2C30;
    color: #FFF;
    border: none;
    outline: none;
}
.pesquisa img{
    width: 2.2rem;
    margin-right: 1rem;
}
.pesquisa input::placeholder{
    color: #FFF;
}

header{
    background-color: #2A2C30;
    height: 100vh;
    padding-top: 2rem;
    overflow-y: auto;
    padding-bottom: 8rem;
}

.logo{
    display: flex;
    position: relative;
    height: 4rem;
    background-color: #2A2C30;
    color: #FFF;
    border-right: solid 1px #838383;
    border-bottom: solid 1px #838383;
    padding-left: 2.5rem;
}
.logo img{
    width: 2rem;
    position: absolute;
    right: 1rem;
    cursor: pointer;
    top: 50%;
    transform: translateY(-50%);
}

.pagina{
    display: flex;
    align-items: center;
    height: 4rem;
    background-color: #2A2C30;
    border-bottom: solid 1px #838383;
    color: #FFF;
    justify-content: space-between;
}
.pagina h1{
    font-size: 1.5rem;
    padding-bottom: 1rem;
}
.pagina p{
    font-size: 1.2rem;
    margin-right: 0;
    cursor: pointer;
    margin-top: 1rem;
}
.pagina img{
    width: 1rem;
    margin-left: 1rem;
    margin-right: 2rem;
    cursor: pointer;
}

header::-webkit-scrollbar{
    width: 7px;
}
header::-webkit-scrollbar-thumb{
    background-color: #F50052;
}

header div{
    display: table;
    cursor: pointer;
    /*width: 100%;*/
}
    /*header details div:hover{
        background-color: #838383;
        border-radius: 0.5rem;
        padding: 1px;
    }
    header details div p:hover{
        width: 100%;
        text-align: left;
    }*/

header details{
    display: table;
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding-left: 1rem;
    cursor: pointer;
    text-align: left;
}

header details summary{
    font-size: 1.5rem;
    color: #FFF;
    padding-bottom: 1rem;
}

header details div p{
    text-align: left;
}

header img{
    width: 2rem;
    margin-left: 1rem;
}

header p{
    display: table-cell;
    vertical-align: middle;
    font-size: 1.2rem;
    color: #FFF;
    padding-left: 1rem;
}

/*-------- Modo de cor (Dark ou Light) --------*/

.dark-mode{
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%);
    display: block;
    display: none;
    width: 80%;
    background-color: #2A2C30;
    border: solid 1px #838383;
    border-radius: 0.5rem;
    padding: 0.5rem;
}
.dark-mode div{
    margin-top: 1rem;
    margin-left: 0;
}