<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home | Comunidade</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="../config/sidebar.css">
</head>
<body class="container-gruid">
    <div class="row">
        <div class="col-sm-12 text-center header-pesquisar">
            <div class="pesquisa">
                <img src="../imgs/header/pesquisa.svg" alt="Pesquisa"><input type="text" placeholder="Pesquisar">
            </div>
        </div>

        <div class="col-sm-12">
            <div class="container-gruid">
                <div class="row">
                    <div class="logo col-sm-2">
                        <p>Logo</p>
                        <img src="../imgs/header/img-modo.svg" alt="Modo" onclick="escolherTema()">
                    </div>
                    <div class="col-sm-10 pagina">
                        <h1>Página Inicial</h1>
                        <p>Nova atividade <img src="../imgs/header/img-modo.svg" alt="Seta"></p>
                    </div>
                </div>
            </div>
        </div>

        <header class="col-sm-2">
            
            <div id="tema" class="dark-mode center-block">
                <p>Comunidade</p>
                <div><img src="../imgs/header/sol.svg" alt="Sol"><p>Escolher modo Claro</p></div>
            </div>

            <div class="opcPInicial"><img src="../imgs/header/house.svg" alt="Home"><p>Página inicial</p></div>

            <details open>
                <summary style="text-transform: uppercase;">Transmissões</summary>
                <div><img src="../imgs/header/live.webp" alt="Live"><p>AO VIVO</p></div>
            </details>

            <details open>
                <summary>Comunidade</summary>
                <div><img src="../imgs/header/hello.png" alt="Olá"><p>Boas-vindas e regras</p></div><br>
                <div><img src="../imgs/header/apertoMao.png" alt="Aperto de Mão"><p>Apresentação</p></div><br>
                <div><img src="../imgs/header/calendar.png" alt="Calendário"><p>Eventos e atividades</p></div><br>
                <div><img src="../imgs/header/megaphone.png" alt="Megafone"><p>Novidades e avisos</p></div><br>
                <div><img src="../imgs/header/musculo.png" alt="Músculo"><p>ONM.AI</p></div><br>
                <div><img src="../imgs/header/television.png" alt="Televisão"><p>Desafios</p></div><br>
                <div><img src="../imgs/header/camera.png" alt="Camera"><p>Lives e vídeos públicos</p></div><br>
                <div><img src="../imgs/header/meeting.png" alt="Reunião"><p>Sugestões para O Novo Mercado</p></div>
            </details>

            <details open>
                <summary>Mercado Digital</summary>
                <div><img src="../imgs/header/writing.png" alt="Lápis"><p>Copywriting e Comunicação</p></div><br>
                <div><img src="../imgs/header/pawn.png" alt="Peão"><p>Lançamentos</p></div><br>
                <div><img src="../imgs/header/megafone2.png" alt="Megafone"><p>Tráfego Pago</p></div><br>
                <div><img src="../imgs/header/computer.png" alt="Computador"><p>Assistente Virtual</p></div><br>
                <div><img src="../imgs/header/smartphone.png" alt="Telefone"><p>Social Media</p></div><br>
                <div><img src="../imgs/header/camera.png" alt="Câmera"><p>Audiovisual</p></div><br>
                <div><img src="../imgs/header/meeting.png" alt="Suporte"><p>Suporte Ativo</p></div><br>
                <div><img src="../imgs/header/palette.png" alt="Paleta de cores"><p>Design</p></div><br>
                <div><img src="../imgs/header/grafico.png" alt="Gráfico"><p>Dados e estatística</p></div><br>
                <div><img src="../imgs/header/dev.png" alt="Dev"><p>Dev</p></div><br>
                <div><img src="../imgs/header/hashtag.png" alt="#"><p>Outros</p></div>
            </details>

            <details open>
                <summary>Discussão</summary>
                <div><img src="../imgs/header/losango.webp" alt="Losango"><p>Discussão sobre stories</p></div><br>
                <div><img src="../imgs/header/grafico2.png" alt="Gráfico"><p>Empreendedorismo e gestão</p></div><br>
                <div><img src="../imgs/header/smartphone.png" alt="Celular"><p>Marketing de conteúdo</p></div><br>
                <div><img src="../imgs/header/ai.png" alt="AI"><p>Inteligência Artificial</p></div><br>
                <div><img src="../imgs/header/money.png" alt="Dinheiro"><p>Vendas</p></div><br>
                <div><img src="../imgs/header/book.png" alt="Livros"><p>Livros</p></div><br>
                <div><img src="../imgs/header/smartphone2.png" alt="Celular"><p>Instagram</p></div><br>
                <div><img src="../imgs/header/smartphone2.png" alt="Celular"><p>Redes Sociais</p></div><br>
                <div><img src="../imgs/header/book2.png" alt="Livros"><p>Contabilidade</p></div><br>
                <div><img src="../imgs/header/box.png" alt="Caixa"><p>Negócios físicos</p></div><br>
                <div><img src="../imgs/header/hashtag.png" alt="#"><p>Assuntos diversos</p></div>
            </details>

            <details open>
                <summary>Indicação da Comunidade</summary>
                <div><img src="../imgs/header/message.png" alt="Mensagem"><p>Convide um amigo</p></div><br>
                <div><img src="../imgs/header/cadeado.png" alt="Cadeado"><p>Guia de elaboração de aulas</p></div><br>
                <div><img src="../imgs/header/cadeado.png" alt="Cadeado"><p>Aula "Como criar uma comunidade"</p></div><br>
                <div><img src="../imgs/header/cadeado.png" alt="Cadeado"><p>Aula "Como escalar negócios digitais"</p></div>
            </details>

            <details open>
                <summary>Alunos ONM</summary>
                <div><img src="../imgs/header/medalha.png" alt="Medalha"><p>Discussão ONM</p></div><br>
                <div><img src="../imgs/header/cadeado.png" alt="Cadeado"><p>Gravações para assinantes</p></div>
            </details>

            <details open>
                <summary>PAN - Nivelamento</summary>
                <div><img src="../imgs/header/satellite.png" alt="Satélite"><p>(500k - 999k)/ano: Propulsão ONM</p></div><br>
                <div><img src="../imgs/header/foguete.png" alt="Foguete"><p>(100k - 499k)/ano: Ignição ONM</p></div><br>
                <div><img src="../imgs/header/aviao.png" alt="Avião"><p>(50k - 99k)/ano: Contagem regressiva ONM</p></div><br>
                <div><img src="../imgs/header/fire.png" alt="Fogo"><p>(0 - 49k)/ano: Aquecimento dos motores ONM;</p></div>
            </details>

            <details open>
                <summary>PAN - Programa de Aceleração de Negócios</summary>
                <div><img src="../imgs/header/foguete.png" alt="Foguete"><p>Reunião (PAN)</p></div><br>
                <div><img src="../imgs/header/foguete.png" alt="Foguete"><p>Discussão geral (PAN)</p></div><br>
                <div><img src="../imgs/header/foguete.png" alt="Foguete"><p>Dúvidas (PAN)</p></div><br>
                <div><img src="../imgs/header/foguete.png" alt="Foguete"><p>Gravações (PAN)</p></div>
            </details>

            <details open>
                <summary>Links</summary>
                <div><img src="../imgs/header/seta.png" alt="Seta"><p>Mercado de Trabalho</p></div><br>
                <div><img src="../imgs/header/seta.png" alt="Seta"><p>Plataforma d'O Novo Mercado</p></div>
            </details>
        </header>
    </div>

    <script src="../config/sidebar.js"></script>
</body>
</html>