<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home | Comunidade</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="../config/sidebar.css">
</head>
<body class="conatiner-gruid">
    <div class="row">
        <div class="col-sm-12 text-center header-pesquisar">
            <div class="pesquisa">
                <img src="../imgs/header/pesquisa.svg" alt="Pesquisa"><input type="text" placeholder="Pesquisar">
            </div>
        </div>
        <header class="col-sm-2">

            <div class="opcPInicial"><img src="../imgs/header/house.svg" alt="Home"><p>Página inicial</p></div>

            <details>
                <summary style="text-transform: uppercase;">Transmissões</summary>
                <p>AO VIVO</p>
            </details>

            <details>
                <summary>Comunidade</summary>
                <div><img src="../imgs/header/hello.png" alt="Olá"><p>Boas-vindas e regras</p></div><br>
                <div><img src="../imgs/header/apertoMao.png" alt="Aperto de Mão"><p>Apresentação</p></div><br>
                <div><img src="../imgs/header/calendar.png" alt="Calendário"><p>Eventos e atividades</p></div><br>
                <div><img src="../imgs/header/megaphone.png" alt="Megafone"><p>Novidades e avisos</p></div><br>
                <div><img src="../imgs/header/musculo.png" alt="Músculo"><p>ONM.AI</p></div><br>
                <div><img src="../imgs/header/television.png" alt="Televisão"><p>Desafios</p></div><br>
                <div><img src="../imgs/header/camera.png" alt="Camera"><p>Lives e vídeos públicos</p></div><br>
                <div><img src="../imgs/header/meeting.png" alt="Reunião"><p>Sugestões para O Novo Mercado</p></div>
            </details>

            <details>
                <summary>Mercado Digital</summary>
                <p>Copywriting e Comunicação</p>
            </details>
        </header>
    </div>
</body>
</html>